header {
    background: linear-gradient(135deg, #1a1a1a, #1a1a1a);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
}

body{
    font-family: 'Roboto Slab', serif;
    background-image: url('../assets/download\ \(1\).jpeg');
    background-size:auto;
    background-position: center;
    background-attachment: fixed;
    color:black;
      
}


button.dropdown-toggle{   
    background: none;
    border: none;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
    padding: 0;
   
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

/* Hover main links */
.navbar ul li a:hover {
    background-color: #FF5F1F;
    transform: translateY(-2px);
}

/* Dropdown container */
.navbar ul li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FF5F1F;
    min-width: 220px;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);
    transition: all 1s ease;
}

/* Show dropdown */
.navbar ul li:hover ul.dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Dropdown links */
.navbar ul li ul.dropdown li a {
    display: block;
    padding: 12px 15px;
    
}

.navbar ul li ul.dropdown li {
    display: block;
}

/* Dropdown hover */
.navbar ul li ul.dropdown li a:hover {
    background: #FF5F1F;
    padding-left: 20px;
}

/*Main content section*/
#intro h2 {
    text-align: center;
}

#overview h2 {
    text-align: center;
}

#purpose h2 {
    text-align: center;
}

#history h3 {
    text-align: center;
}

#significance h3 {
    text-align: center;
}

#artistic h3 {
    text-align: center;
}

#media h3 {
    text-align: center;
}

/*New stuff*/
#transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a0a0a; /* match your site */
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 9999;
}

#transition-overlay.hidden {
  opacity: 0;
}

#media img{
    align-items: center;
}